{
  "presets": [
    [
      "es2015",
      {
        "modules": false
      }
    ],
    "stage-1",
    "react"
  ],
  "plugins": [
    "transform-decorators-legacy",
    "transform-async-to-generator",
    "transform-regenerator",
    "transform-runtime",
    "transform-flow-strip-types"
  ]
}