.container {
  width: 100%;
  height: 100%;
  margin 0;
  padding 0;
  background: #f0f2f5;
  display: flex;
  flex-direction: column;
}

.middleContainer {
  flex: 1;
  position: relative;
}

.left {
  position: absolute;
  border-right: 1px solid rgba(0, 0, 0, 0.45);
}

.right {
  position: absolute;
  border-left: 1px solid rgba(0, 0, 0, 0.45);
  display: flex;
  flex-direction: column;
}

.rightTop {
  flex: 3;
}

.rightBottom {
  flex: 7;
}