.container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.loginForm {
  width: 420px;
  padding-top: 30px;
  padding-bottom: 50px;
  border: 1px gray solid;
  border-radius: 5px;
}

.loginContent {
  width: 320px;
}

.title {
  margin-bottom: 24px;
}

.titleText {
  font-size: 25px;
}

.titleLine {
  width: 100%;
  height: 1px;
  background: #2E71F2;
}

.icon {
  color: rgba(0, 0, 0, .25)
}

.rememberMe {
  margin-top: 20px;
}

.loginButtonContainer {
  margin-top: 20px;
  width: 100%;
}

.loginButton {
  width: 100%;
}