.container {
  width: 20%;
  height: 100%;
  padding: 0;
  margin: 0;
  left: 0;
  top: 0;
  position: absolute;
  display: flex;
}

.content {
  flex: 1;
  background: red;
  border-right: 1px solid rgba(0, 0, 0, 0.45);
}

.emptyContent {
  flex: 1;
  background: red;
}

.handle {
  align-self: center;
  cursor: pointer;
}