.container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.viewer {
  flex: 1;
  margin: 10px;
  background: #b1b1b1;
}

.image {
  width: 100%;
  height: 100%;
}

.toolBar {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
}

:global(.viewer-container .viewer-canvas) {
  background: #b1b1b1;
}