.container {
  width: 20%;
  height: 100%;
  padding: 0;
  margin: 0;
  right: 0;
  top: 0;
  position: absolute;
  display: flex;
  pointer-events: none;
}

.content {
  flex: 1;
  background: red;
  border-left: 1px solid rgba(0, 0, 0, 0.45);
  pointer-events: auto;
}

.emptyContent {
  flex: 1;
  background: red;
}

.handle {
  align-self: center;
  cursor: pointer;
  pointer-events: auto;
}