.container {
  width: 20%;
  height: 100%;
  padding: 0;
  margin: 0;
  right: -20%;
  top: 0;
  position: absolute;
  z-index: 9999;
  background: #f0f2f5;
}

.content {
  width: 100%;
  height: 100%;
  border-left: 1px solid rgba(0, 0, 0, 0.45);
  overflow: hidden;
}

.handle {
  cursor: pointer;
  position: absolute;
  top: calc(50% - 7px);
  left: -14px;
}